// variables
$recoletaThin: 'Recoleta Thin';
$recoletaLight: 'Recoleta Light';
$recoletaRegular: 'Recoleta Regular';
$recoletaMedium: 'Recoleta Medium';
$recoletaSemiBold: 'Recoleta SemiBold';
$recoletaBold: 'Recoleta Bold';
$recoletaBlack: 'Recoleta Black';

$roboto: 'Roboto', sans-serif;

$transition: all .3s ease-in;

$headerHeight: 88px;
$ctaButtonHeight: 55px;
$containerWidth: 1280px;

$gradient_1: linear-gradient(-45deg, #6934d3 0%, #77def3 100%);
$gradient_2: linear-gradient(135deg, #6D0DA4 0%, #FD5A1E 100%);
$gradient_3: linear-gradient(-45deg, #b80303 0%, #FF723E 100%);
$gradient_4: linear-gradient(-45deg, #00FFFF 0%, #0066FF 100%);
